<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestWePay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestWepay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WePay-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WePaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WePayTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3028863C1811E55100278D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3028865D1811E55100278D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30543AF9180DB44C0089B7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30543B1F180DB44C0089B7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308CFA1118198D3B002C18B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308CFA2D18198D3C002C18B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CE13181728B6003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CE34181728B6003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CE5518172955003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CE6A18172955003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CE9218172A35003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CEB318172A35003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CECE18172AA2003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090CEEF18172AA2003207B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E4791C1817961200DB2124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
